<div ng-controller="addContactCtrl">
        <div class="list-group-item">
          <form name="addUser">
          <div class="form-group">

             <p><label for="firstName">First Name:</label> <input id="firstName" class="form-control" type="text" name="firstName" ng-model="currentContact.firstName" ng-pattern="/^[a-zA-Z0-9]*$/"> 
             <span class="validation" ng-show="addUser.firstName.$error.pattern">Please enter a valid First Name</span>
             </p>
            <p><label for="lastName">Last Name: </label> <input id="lastName" class="form-control" type="text" ng-model="currentContact.lastName" name="lastName" ng-pattern="/^[a-zA-Z0-9]*$/"> 
             <span class="validation" ng-show="addUser.lastName.$error.pattern">Please enter a valid First Name</span></p>
            <p><label for="contactEmail">Email:</label> <input id="contactEmail" class="form-control" type="email" name="email" ng-model="currentContact.contactEmail">
            <span class="validation" ng-show="addUser.email.$error.email">Please enter a valid Email id</span> </p>
            <p><label for="contactNumber">Contact Number:</label> <input id="contactNumber" name="number" 
            class="form-control" type="text" ng-model="currentContact.contactNumber" 
            ng-pattern="/^[1-9]{1}[0-9]{9}$/" > </p>
           <span class="validation" ng-show="addUser.number.$error.pattern">Please enter 10 digit mobile number(e.g: 1234567890)</span>
           
          </div>
        </form>
          <a ng-if="path === '/add' " ng-href="#/contact-info/{{ contacts.length - 1 }}" ng-click="addContact()">
            <button class="btn btn-success">
             <span class="glyphicon glyphicon-ok"></span>
             <span> Add</span>
            </button>
          </a>

          <a ng-if="path !== '/add'" ng-href="#/contact-info/{{index}}">
            <button class="btn btn-primary">
             <span class="glyphicon glyphicon-ok"></span>
             <span> Save Edits</span>
            </button>
          </a>

          <a href="#/">
            <button class="btn btn-danger">
              <span class="glyphicon glyphicon-remove"></span><span>  Cancel</span>
            </button>
          </a>
        </div>
      </div>